            * {
                font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
            /* nav-bar */
            
            .nav {
                background-color: #ffffff;
                display: flex;
                box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
            }
            
            .container {
                background-color: #fff;
            }
            
            .logo {
                width: 50px;
                margin-left: 20px;
            }
            
            .logo>img {
                max-width: 200%;
            }
            
            .second {
                display: flex;
                margin-left: 100px;
            }
            
            .circle1 {
                width: 20px;
                background-color: #ff6f61;
                border-radius: 50%;
                color: white;
                text-align: center;
                font-size: 15px;
                font-weight: 600;
                padding-top: 0px;
            }
            
            .circle2 {
                width: 20px;
                background-color: #ff6f61;
                border-radius: 50%;
                color: white;
                text-align: center;
                font-size: 15px;
                font-weight: 600;
                padding-top: 0px;
                margin-left: 8px;
            }
            
            .circle8 {
                width: 20px;
                background-color: rgba(255, 111, 97, .4);
                border-radius: 50%;
                color: rgba(33, 33, 33, .4);
                text-align: center;
                font-size: 15px;
                font-weight: 600;
                padding-top: 0px;
                margin-left: 8px;
            }
            
            .cart {
                margin-left: 10px;
                padding-top: 10px;
                font-size: 15px;
                font-weight: 600;
            }
            
            .ordersummary {
                margin-left: 10px;
                padding-top: 10px;
                font-size: 15px;
                font-weight: 600;
            }
            
            .payment {
                margin-left: 10px;
                padding-top: 10px;
                font-size: 15px;
                font-weight: 600;
            }
            
            .middle {
                background-color: white;
                width: 50%;
                margin-left: 90px;
                box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
            }
            
            .address {
                margin-bottom: 20px;
                margin-top: 20px;
                width: 70%;
                margin-left: 90px;
                margin-bottom: 0px;
                font-size: 18px;
            }
            
            .inpaddress {
                width: 80%;
                margin-left: 10px;
                margin-top: 10px;
                height: 100px;
                border: 1px solid grey;
            }
            
            .landmark {
                width: 80%;
                border: 1px solid grey;
                margin-left: 10px;
                margin-top: 10px;
            }
            
            .pincode {
                width: 80%;
                border: 1px solid grey;
                margin-left: 10px;
                margin-top: 10px;
            }
            
            .locality {
                width: 80%;
                border: 1px solid grey;
                margin-left: 10px;
                margin-top: 10px;
            }
            
            .city {
                width: 80%;
                border: 1px solid grey;
                margin-left: 10px;
                margin-top: 10px;
            }
            
            .state {
                width: 80%;
                border: 1px solid grey;
                margin-left: 10px;
                margin-top: 10px;
            }
            
            .customer {
                width: 80%;
                border: 1px solid grey;
                margin-left: 10px;
                margin-top: 10px;
            }
            
            .digit {
                width: 80%;
                border: 1px solid grey;
                margin-left: 10px;
                margin-top: 10px;
            }
            
            .option {
                display: flex;
                width: 80%;
                margin-left: 10px;
                margin-top: 10px;
            }
            
            input {
                width: 100%;
            }
            
            .home {
                font-size: 15px;
                margin-left: 20px;
                padding-top: 2px;
                color: grey;
            }
            
            .office {
                font-size: 15px;
                margin-left: 20px;
                padding-top: 2px;
                color: grey;
            }
            
            .other {
                font-size: 15px;
                margin-left: 20px;
                padding-top: 2px;
                color: grey;
            }
            
            .below {
                width: 80%;
                display: flex;
                margin-top: 10px;
                margin-left: 10px;
                flex-direction: row-reverse;
                margin-bottom: 50px;
                height: 80px;
            }
            
            .cirfix {
                margin: auto;
            }
            
            .cancel {
                margin-right: 60px;
            }
            
            .canbut {
                font-size: 20px;
                color: #ff6f61;
                border: 1px solid white;
                background-color: white;
            }
            
            .savebut {
                font-size: 20px;
                border: 1px solid white;
                color: white;
                background-color: #ff6f61;
                margin-right: 20px;
                width: 100px;
            }
            
            input:hover {
                border: #ff6f61;
            }
            
            input {
                font-size: 18px;
                padding: 5px;
                border-width: 0px;
                border: none;
                outline: none;
                opacity: 0.8;
            }