*body {
  box-sizing: border-box;
}

#container {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  gap: 30px;
  /* border: red solid; */
}

* {
  box-sizing: border-box;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}

img {
  width: 100px;
  /* border: red solid; */
}

p {
  text-align: center;
  width: 100px;
}

#container > div {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: repeat(4, auto);
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

#cartname {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* border: rebeccapurple solid; */
  line-height: 0px;
  justify-content: end;
}

#innerdiv {
  display: flex;
  align-items: center;
  text-align: center;
  /* border: royalblue solid; */
}

#checkoutdiv {
  margin-top: 50px;
  display: flex;
  /* height: 50px; */
  padding: 10px;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

/* #container > div > img,p,div,h3,h4 {
    border: rebeccapurple solid;
} */

#container > div:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button {
  border-radius: 5px;
  font-size: medium;
  border: 0px;
}

button:hover {
  background-color: #d085f5;
  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  color: wheat;
}

#navbar {
  width: 100%;
  height: auto;
  border: red solid;
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  /* position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0; */
}

.nav_1st_innder_div {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: #fff;
  line-height: 42px;
  border: rebeccapurple solid;
}

.com_logo {
  border: rebeccapurple solid;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.search_bar {
  padding: 6px 13px 6px 1px;
  width: 75%;
}

.search_bar_innerdiv {
  width: 700px;
  position: relative;
  background-color: #f1f4f6;
  border: #3e3e3e solid;
  display: flex;
  align-items: center;
}


#searchbarinfo {
  font-size: 14px;
  line-height: 21px;
  padding: 6px 30px 7px 0;
  border: none;
  outline: 0;
  bottom: 19px;
  color: #3e3e3e;
  text-indent: 12px;
  height: 34px;
  border-radius: 0 3px 3px 0;
  background-color: #f1f4f6;
  /* width: calc(100% - 25px); */
  display: inline;
}


#navbar > button {
  width: 20%;
  font-weight: 600;
  background-color: black;
  color: aliceblue;
}

#section {
  margin-top: 50px;
}

#list {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
  background-color: #000000;
  border-radius: 10px;
}

#checkout_btn,
#apply_promo_btn {
  height: 40px;
  color: white;
  background-color: #63175f;
}
